@font-face {
    font-family: 'Rubik-Regular';
    src: url("../fonts/Rubik-Regular.ttf");
}

body{
    /* background-image: url("../images/gold_house.jpg"); */
    background-color:rgb(36, 35, 35);
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;
    overflow: hidden;

    /* width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: fixed; */

    /* transition: opacity 800ms ease,
        background-size 800ms ease,
        background-position 800ms ease; */
    
    font-family: 'Rubik-Regular', sans-serif;
    transition: opacity 500ms ease;
}

#menu{
    /* background-color: coral; */
    display: inline-flex;
    position: relative;
}

#blob{
    /* background-color: aquamarine;
    height: 10px;
    aspect-ratio: 1;
    position: absolute; */

    background-color: white;
    height: 250px;
    aspect-ratio: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    border-radius: 50%;
    background: linear-gradient(to right, rgb(225, 248, 19), rgb(255, 123, 0));
    animation: rotate 20s infinite;
    -webkit-filter: blur(50px);
    opacity: 0.2;
    z-index: -1;
}

.ul_list{
    overflow: hidden;
    margin-top: 40px;
    list-style: none;
    cursor: pointer;
}

.ul_list > li{
    display: inline;
    font-size: x-large;
    padding: 10px;

    transition: opacity 500ms ease;
}

.ul_list:hover > li{
    opacity: 0.3;
}

.ul_list:hover > li:hover{
    opacity: 1;
}

a{
    text-decoration: none;
    color: rgb(173, 103, 45);
}

a:hover{
    background-image: -webkit-gradient( linear, left top, right bottom, color-stop(0, #dc0606), color-stop(1, rgb(93, 2, 239)));
    background-image: gradient( linear, left top, right bottom, color-stop(0, #dc0606), color-stop(1, rgb(93, 2, 239)) );

    /* set text transparent so that it hides*/
    color:transparent;

    /* show gradients text,  hiding box*/
    -webkit-background-clip: text;
    background-clip: text;
}

.emptyBlock1{

    height: 40%;
    width: 40%;

    border-radius: 20px;

    margin-top: 11%;
    margin-left: 25%;
    position: absolute;

    padding: 40px;

    background: linear-gradient(135deg, #ff8c00, #ffff00, #ff8c00);
    box-shadow: 10px 10px 10px rgba(255, 255, 255, 0.2);

    /* background-image: url("../images/gold_house.jpg"); */
    
    /* background: rgb(113,209,0);
    background: linear-gradient(270deg, rgba(113,209,0,1) 0%, rgba(231,236,0,1) 60%, rgba(255,175,0,1) 100%);  */

    /* background: white; */
    /* background: rgb(127,205,59);
    background: linear-gradient(63deg, rgba(127,205,59,1) 18%, rgba(166,210,21,1) 52%, rgba(0,239,255,1) 100%); */
    /* opacity: 0.4; */
    transition: ease-in-out 500ms;
}

.emptyBlock1:hover{
    /* height: 52%;
    width: 32%; */
    padding: 45px;

    transition: ease-in-out 500ms;
}

.dataBlock{
    font-size: 36px;
    width: 400px;
    background: linear-gradient(320deg, #ff8c00, #1a1a1a, #173b6c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* opacity: 0.6; */
}

.titleText{
    font-family: 'Rubik-Regular', sans-serif;
    font-size: xx-large;
    position: absolute;
    margin-top: 1%;
    margin-left: 8%;

    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.infoText{
    font-family: 'Rubik-Regular', sans-serif;
    font-size: xx-large;
    position: absolute;
    margin-top: 5%;
    margin-left: 18%;

    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.btn1{
    margin-top: 80px !important;
}

.btn1,.btn2{
    display: block;
    margin-left: auto;
    /* margin: 30px 30px 0px 40px; */
    padding: 10px;
    outline: none;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid orange;
    background: linear-gradient(135deg, #ff8c00, #1a1a1a, #173b6c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    box-sizing: border-box;
    border-radius: 6px;
    cursor: pointer;
    font-size: 30px;
    margin-top: 40px;
    box-shadow: 10px;

    transition: 0.2s;
}
.btn1:hover, .btn2:hover{
    /* padding:  10px; */
    border: 2px solid orange;
}

/* .btn2{
    display: block;
    margin-left: auto;
    padding: 30px 30px;
    background-color: transparent;
    /* border: none; */
    /* border-bottom: 2px solid black;     */
    /* background: linear-gradient(135deg, #ff8c00, #1a1a1a, #173b6c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */

    /* border-radius: 6px;
    cursor: pointer;
    font-size: 30px;
    margin-top: 2px;
    box-shadow: 10px; */

    /* transition: 0.2s; */
/* } */

.signup{
    /* overflow: hidden; */
    margin-top: 20px;
    list-style: none;
    cursor: pointer;
    float: left;

    position: relative;
    display: inline;
    left: 48%;

    font-size: x-large;

    transition: opacity 500ms ease;
}