@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@font-face {
    font-family: 'Rubik-Regular';
    src: url("../fonts/Rubik-Regular.ttf");
}

/* Get rid of all default margins/paddings. Set typeface */
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* background-color: rgb(184, 95, 59); */
    background-image:    url("../images/home2.jpg");
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;
    font-family: 'Rubik-Regular', sans-serif;
}

.signinForm {
    display:grid;
    width: 60%;
    margin-left: 15%;
    /* margin: auto; */
    /* justify-content: center; */
    align-items: center;
    height: 100vh;
}

.form {
    /* position: relative; */
    background-color: white;
    width: 50%;
    height: 60%;
    border-radius: 8px;
    padding: 20px 40px;
    box-shadow: 0 10px 25px rgba(92, 99, 105, 0.445);
}
  
.title {
    font-size: 50px;
    margin-bottom: 50px;
    color: #0b506b;
}

.inputContainer {
    position: relative;
    height: 45px;
    width: 80%;
    margin-bottom: 17px;
}

.input {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    border: 1px solid #DADCE0;
    border-radius: 7px;
    font-size: 16px;
    padding: 0 20px;
    outline: none;
    background: none;
    z-index: 1;
}

::placeholder {
    color: transparent;
}

.label {
    position: relative;
    top: 15px;
    left: 15px;
    padding: 0 4px;
    background-color: white;
    color: grey;
    font-size: 16px;
    transition: 0.5s;
    z-index: 0;
}

.submitBtn {
    display: block;
    margin-left: auto;
    padding: 15px 30px;
    border: none;
    background-color: rgb(224, 112, 68);
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 30px;
    box-shadow: 10px;

    transition: 0.2s;
}
  
.submitBtn:hover {
    background-color: rgb(221, 104, 58);
    transform: translateY(2px);
    transform: translateY(2px);

    transition: 0.2s;
}

.homeBtn {
    display: block;
    position: absolute;
    margin-right: auto;
    padding: 15px 30px;
    border: none;
    background-color: rgb(224, 112, 68);
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 30px;
    box-shadow: 10px;

    transition: 0.2s;
}

.homeBtn:hover {
    background-color: rgb(221, 104, 58);
    transform: translateY(2px);
    transform: translateY(2px);

    transition: 0.2s;
}

.input:focus + .label {
    top: -7px;
    left: 3px;
    z-index: 10;
    font-size: 14px;
    font-weight: 600;
    color:coral;
}

.input:focus {
    border: 2px solid coral;
}

.input:not(:placeholder-shown)+ .label {
    top: -7px;
    left: 3px;
    z-index: 10;
    font-size: 14px;
    font-weight: 600;
}

table{
    width: 100%;
}

img{
    border-radius: 20px;
}

a{
    margin-left: 10px;
    color: #0b506b;
    text-decoration: none;
    align-items: center;
}

a:visited{
    color: #0b506b;
}

a:hover{
    color: #1f8eb9;
}

.sideImage {
    position: absolute;
    width: 40px;
    margin-left: 180px;
    z-index: -1;
}